<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
  <div class="login-box">
    <h2>Login</h2>
    <form id="loginForm">
      <div class="user-box">
        <input type="text" name="username" required>
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required>
        <label>Password</label>
      </div>
      <div>
        <select name="role" id="role" style="background-color: aqua; border-radius: 6px;">
          <option value="user">user</option>
          <option value="admin">admin</option>
        </select>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
    <div>
      <p>Don't have an account? <a href="login1.html" style="text-decoration: none; color: #03e9f4;">CREATE ONE</a></p>
    </div>
  </div>

  <script>
    document.getElementById('loginForm').addEventListener('submit', function(e) {
      e.preventDefault(); // Prevent the default form submission
      window.location.href = '/chatbot'; // Redirect to chatbot page
    });
  </script>
</body>
</html>
